<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vegetable.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vegetable.color %>
</p>

<p>
  <strong>Number:</strong>
  <%= @vegetable.number %>
</p>

<%= link_to 'Edit', edit_vegetable_path(@vegetable) %> |
<%= link_to 'Back', vegetables_path %>
